<mat-card appearance="outlined">
     <mat-card-header>
        <mat-card-title>
            Total items :{{totalItems}} | Selcted Items: {{totalSelected }} | Stared Items : {{ totalStared}}
        </mat-card-title>
    </mat-card-header>
<div class="whitespace">
    <mat-divider/>
</div>
 <mat-card-content>
    <section class="card">
        <app-add-item-form (addItem)="onAddItem($event  )"> </app-add-item-form>
    </section>

<ol class="list-container">
    @for(item of listItems; track item){
    <li>
     <app-item-card 
        [data]="item"
        (select)="toggleSelected($event)"
        (disable)="toggleStatus($event)"
        (markStar)="toggleMakeStar($event.id)"
        (remove)="removeItem($event.id)"
     />
    </li>
    }
</ol>
</mat-card-content>
</mat-card>
 <button (click)="viewState()"> View State </button> 